/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: #b8ffb8;
}

.scene{
	-fx-background-color: #b8ffb8;
}

#gorgonzolaTitle{
  -fx-stroke-width: 10px; /* Set the width of the stroke */
  -fx-stroke: white;
}

